name: Deploy
on:
  push:
    branches: [main]

jobs:
  docs:
    name: Generate Website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2

      - name: Install dependencies
        run: pip install -r requirements.txt && git clone https://github.com/openai/gym.git && pip install ./gym
      
      - name: Build
        run: sphinx-build -b html -v docs/source build

      - name: Upload to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/